---
import { Star } from '@lucide/astro';

interface TestProps {
  title: string;
}

const { title = "Test" } = Astro.props;
---

<div class="test">
  <h1>{title}</h1>
  <button onClick={handleClick}>Click me</button>
  <div onMouseEnter={handleMouseEnter} onMouseLeave={handleMouseLeave}>
    Hover me
  </div>
</div>