---


//Default Calls
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionWrapper from '../layouts/SectionWrapper.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import Testimonials from '../components/Testimonials.astro';










//Default Calls





---

<BaseLayout>
 
<main>



    <SectionWrapper id="hero">
      <Hero />
    </SectionWrapper>

    <SectionWrapper id="benefits">
      <Benefits />
    </SectionWrapper>

    <SectionWrapper id="testimonials">
      <Testimonials />
    </SectionWrapper>

</main>

</BaseLayout> 